
$font-family: 'Merriweather', serif;
$font-weight-bold: 700;
$font-weight-normal: 400;

$color-main: #ed786a;
$color-secondary: #888;
$color-text: #333;
$color-gray-light: #e7e5e5;
$color-gray: #777;
$color-background: #fff;
$color-border: #e5e5e5;
$color-box-shadow: rgba(0, 0, 0, 0.1);
$color-black: #000;
$color-white: #fff;
$color-link: #878787;
$color-link-hover: #ed786a;
$color-modal-bg: rgba(0, 0, 0, 0.5);
$color-error: #dc3545; 
$color-success: #28a745; 

$padding-header: 6em 0 4em 0;
$padding-section: 3em 0 0 0;
$padding-footer: 2em 0;

$font-size-base: 1em;
$letter-spacing-base: 3px;

$breakpoint-xlarge: 1600px;
$breakpoint-large: 1280px;
$breakpoint-medium: 1024px;
$breakpoint-small: 768px;
$breakpoint-phone: 425px;

$gutter-size: 50px;
$max-gutter: 200px; 

$gutter-size-small: 30px; 
$max-gutter-small: 60px; 

$gutter-size-medium: 50px; 
$max-gutter-medium: 200px; 

$gutter-size-large: 50px; 
$max-gutter-large: 200px; 

$gutter-size-xlarge: 50px; 
$max-gutter-xlarge: 200px; 


$border-radius: 4px;
