/* src/Footer/Address.css */
.address {
    position: relative;
}

.map-container {
    position: absolute;
    top: 0; /* Отображение карты на уровне текста */
    left: 100%; /* Смещение карты вправо от элемента */
    z-index: 1000;
    width: 400px; /* Установите желаемую ширину карты */
    height: 300px; /* Установите желаемую высоту карты */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Добавление тени для выделения */
}

@media (max-width: 768px) {
    .map-container {
        width: 100%; /* На мобильных устройствах карта будет занимать всю ширину */
        left: 0; /* Смещение карты ниже элемента на мобильных устройствах */
        top: 100%; /* Смещение карты ниже элемента на мобильных устройствах */
    }
}
